<div class="app">
  <main class="container">
    <section class="card">
      <h2>Welcome! - This project is still being updated</h2>
      <ul style="margin-left: 40px;">
      </ul>
    </section>
  </main>
</div>

<script>

</script>
<script src="/js/home.js" defer></script>